{% extends 'base.html' %}
{% from "components/table.html" import render_table with context %}

{% block header %}
{% block title %}Accounts{% endblock %}
{% endblock %}


{% block content %}
<div class="col">
  {% for type, accounts in types.items() %}
  {{ type }}
  <div class="row">
    {% for account in accounts %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ account.2 }} ({{ account[1] }})</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ "{:0,.2f}".format(account[4]).replace(","," ") }}€</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<h2>
  <input type="month" value="{{month}}" class="form-control bg-light border-0" style="font-size: inherit;width: inherit;" onchange="changeMonth()" id="monthPicker">
</h2>
<div class="col">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
    </div>
    {{render_table(transactions, [
      {"name" :"Date"},
      {"name" :"Category"},
      {"name" :"Amount"},
      {"name" :"Label"},
      {"name" :"Type"},
  ], total, length, curr_page)}}
  </div>
</div>

<script>
  function changeMonth() {
    var input = document.getElementById('monthPicker');
    var url = new URL(window.location.toString())
    var search_params = url.searchParams;
    search_params.set('month', input.value);

    // change the search property of the main url
    url.search = search_params.toString();

    // the new url string
    window.location = url.toString()
  }
</script>
{% endblock %}