{% extends 'base.html' %}
{% from "components/table.html" import render_table with context %}

{% block header %}
{% block title %}Expenses{% endblock %}
{% endblock %}

{% macro need_real_higher_than_budget(cell, row) -%}
{% if cell <= row["budget"]%} {{cell}} {% else %} <div class="text-danger">{{cell}}</div>
    {% endif %}
    {%- endmacro%}

    {% block content %}

    <h2 class="h4">
        <input aria-label="Month" type="month" value="{{month}}" class="form-control bg-light border-0"
            style="font-size: inherit;width: inherit;" onchange="changeMonth()" id="monthPicker">
    </h2>

    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="h5 m-0 font-weight-bold text-primary">Revenus</h3>
                </div>
                {{render_table(revenus, [{"name" :"Label"}, {"name" :"Date"}, {"name" :"Real", "suffix":"€"}, {"name"
                :"Budget", "suffix":"€", "compare":2}])}}
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="h5 m-0 font-weight-bold text-primary">Budget Summary</h3>
                </div>
                {{render_table(summary, [{"name" :"Type"}, {"name" :"%", "suffix":"%"}, {"name" :"Budget",
                "suffix":"€"}, {"name" :"Real", "suffix":"€",
                "compare":2}])}}
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="h5 m-0 font-weight-bold text-primary">Variables</h3>
                </div>
                {{ render_table(
                variables,
                [
                {"name" :"Label"},
                {"name" :"Budget", "suffix":"€"},
                {"name" :"Real", "suffix":"€", "compare":1},
                {
                "name":"Remaining", "suffix":"€",
                "type": "custom_css",
                "callback": format_remaining,
                "type_except_row":(variables|length)-1
                },
                {"name" :"Type"}
                ]
                ) }}
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="h5 m-0 font-weight-bold text-primary">Fixed</h3>
                </div>
                {{render_table(fixed, [{"name" :"Label"}, {"name": "Bank"}, {"name": "Date"}, {"name" :"Budget",
                "suffix":"€"}, {"name" :"Real", "suffix":"€",
                "compare":3}, {"name" :"Type"}])}}
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="h5 m-0 font-weight-bold text-primary">Expenses</h3>
                </div>
                {{render_table(
                expenses,
                [
                {"name":"id", "type":"hide"},
                {"name" :"Label"},
                {"name" :"Bank"},
                {"name" :"Date"},
                {"name" :"Amount", "suffix":"€"},
                {
                "name" :"Budget",
                "type": "select",
                "options": spendings,
                "onchange":"'update_budget($id)'",
                "index":"id", "type_except_row":(expenses|length)-1
                },
                {
                "name" :"Edit",
                "type" : "button",
                "onclick":"'show_trac($id)'",
                "index":"id", "type_except_row":(expenses|length)-1
                }
                ]
                )}}
            </div>
        </div>
        <div class="modal fade" id="editTrac" tabindex="-1" role="dialog" aria-labelledby="LabelEditTrac"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="h5 modal-title"></h3>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Placeholder</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}